html {
  font-family: "Fredoka One", cursive;
  background: repeating-linear-gradient(
    -35deg,
    #c9fcff,
    #c9fcff 10px,
    #d4fdff 10px,
    #d4fdff 20px
    );
}

.dark-magenta {
  color: #990073;
}

.light-magenta {
  color: #c09;
}

.text {
  text-shadow: 2px 2px #e2e2e2;
}

.btn {
  border: 3px solid #990073;
}

.max-width {
  max-width: 19em;
}
