html {
  font-family: "Fredoka One", sans-serif;
  background: repeating-linear-gradient(-35deg, #c9fcff, #c9fcff 11px, #d4fdff 11px, #d4fdff 22px);
  border-top: 8px solid #b3fbff;
  height: 500px;
}

.dark-magenta {
  color: #990073;
  transform: rotate(-10deg);
  transform-origin: left center;
}

.tagline {
  transform: rotate(-5deg);
  transform-origin: left center;
}

.light-magenta {
  color: #c09;
}

.text {
  text-shadow: 2px 2px #e2e2e2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  animation: opacity 3s linear;
  animation: blur 3s linear;
  animation-fill-mode: forwards;
}

.btn {
  border: 3px solid #990073;
}

.max-width {
  max-width: 19em;
}

.btn:hover {
  background-color: #b3fbff;
}

.btn-ghost {
  border: 3px solid #990073;
}

.btn-ghost:hover {
  background-color: #f1b5ff;
}

.mint-chip {
  z-index: 3;
  max-height: 200px;
  position: absolute;
  top: -90%;
  left: 80%;
  animation: top-position-mint 1s ease;
  animation-fill-mode: forwards;
  animation-delay: .2s;
}

@keyframes top-position-mint {

  0% {
    top: -90%;
  }

  100% {
    top: 268px;
  }

}

.cone {
  z-index: 4;
  position: absolute;
  top: -90%;
  left: 80%;
  animation: top-position-cone 1s ease;
  animation-fill-mode: forwards;
  max-height: 200px;
}

@keyframes top-position-cone {

  0% {
    top: -90%;
  }

  100% {
    top: 390px;
  }

}

.chocolate-chip {
  z-index: 5;
  max-height: 200px;
  position: absolute;
  top: -90%;
  left: 81%;
  animation: top-position-choco 1s ease;
  animation-fill-mode: forwards;
  animation-delay: .4s;
}

@keyframes top-position-choco {

  0% {
    top: -90%;
  }

  100% {
    top: 175px;
  }

}

.vanilla-fudge {
  z-index: 6;
  max-height: 200px;
  position: absolute;
  top: -90%;
  left: 80%;
  animation: top-position-vanilla 1s ease;
  animation-fill-mode: forwards;
  animation-delay: .8s;
}

@keyframes top-position-vanilla {

  0% {
    top: -90%;
  }

  100% {
    top: 90px;
  }

}

.cherry {
  z-index: 7;
  max-height: 200px;
  position: absolute;
  top: -90%;
  left: 80%;
  animation: top-position-cherry 1s ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes top-position-cherry {

  0% {
    top: -90%;
  }

  100% {
    top: 10px;
  }

}

@keyframes opacity {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes blur {

  0% {
    filter: blur(10px);
  }

  50% {
    filter: blur(5px);
  }

  100% {
    filter: blur(0);
  }

}
