html {
  font-family: "Fredoka One", sans-serif;
  background: repeating-linear-gradient(-35deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 22px);
}

.dark-magenta {
  color: #990073;
  transform: rotate(-10deg);
  transform-origin: left center;
}

.tagline {
  transform: rotate(-5deg);
  transform-origin: left center;
}

.light-magenta {
  color: #c09;
}

.text {
  text-shadow: 2px 2px #e2e2e2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  animation: opacity 3s linear;
  animation: blur 3s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.btn {
  border: 3px solid #990073;
}

.max-width {
  max-width: 19em;
}

.btn:hover {
  background-color: #b3fbff;
}

.btn-ghost {
  border: 3px solid #990073;
}

.btn-ghost:hover {
  background-color: #f1b5ff;
}

.mint-chip {
  z-index: 3;
  position: absolute;
  top: 350px;
  left: 700px;
}

.cone {
  z-index: 4;
  position: absolute;
  top: 500px;
  left: 700px;
}

.chocolate-chip {
  z-index: 5;
  position: absolute;
  top: 225px;
  left: 710px;
}

.vanilla-fudge {
  z-index: 6;
  position: absolute;
  top: 120px;
  left: 700px;
}

.cherry {
  z-index: 7;
  position: absolute;
  top: 10px;
  left: 710px;
}

@keyframes opacity {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes blur {

  0% {
    filter: blur(10px);
  }

  50% {
    filter: blur(5px);
  }

  100% {
    filter: blur(0);
  }

}
